// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

// Import di fontawesome 5
@import '~@fortawesome/fontawesome-free/css/all.min.css';

img {
    max-width: 100%;
}